<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833420558353-pg84ph0rd4mkeflfah4o71qd1pikrdn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833420558353-pg84ph0rd4mkeflfah4o71qd1pikrdn8</string>
	<key>API_KEY</key>
	<string>AIzaSyDUj91SOG1bF0gwuyNG5I7CVZf2494jATk</string>
	<key>GCM_SENDER_ID</key>
	<string>833420558353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rahul.ios.OTPValidationDemo</string>
	<key>PROJECT_ID</key>
	<string>otp-validation-30d35</string>
	<key>STORAGE_BUCKET</key>
	<string>otp-validation-30d35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833420558353:ios:9e038f811f666aebabf1b0</string>
</dict>
</plist>